<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url(assets/files/1024.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }
</style>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{'Patient List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center">



        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.name"
            placeholder="{{ 'Search name' | translate }}" pattern="[A-Za-z\s]*"
            (input)="validateInput($event, 'name')">
          <div *ngIf="!isValidNameInput" class="text-danger">
            Please enter letters and spaces only.
          </div>
        </div>
        
     
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.mobile"
            placeholder="{{ 'Search Mobile No' | translate }}"
            pattern="[a-zA-Z0-9\s]*"
            (input)="validateInput($event, 'mobile')"> 
          <div *ngIf="!isValidMobileInput" class="text-danger">
            Please enter letters, numbers, and spaces only.
          </div>
        </div>


        <div class="col-sm-2">
          <input type="date" class="form-control" [(ngModel)]="form.searchParams.dateOfVisit"
            placeholder="{{'Search dateOfVisit' | translate}}">
        </div>
       
        <div class="col-sm-2">  
          <select class="form-control" name="decease" [(ngModel)]="form.searchParams.decease"
            aria-label="ngSelected">
            <option [ngValue]="" value="undefined">{{'Select Decease' | translate }}</option>
            <option *ngFor="let obj of form.preload.pList" [value]="obj.value">{{obj.value}}</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{'Search' | translate }}</button>
        </div>
        <div class="col-sm-2">
          <button (click)="forward('/patient')" type="button" class="btn btn-success">{{'Add Decease' |
            translate}}</button>
        </div>
        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{'Delete' | translate}}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>
      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{'S.No' | translate}}</th>
              <th>{{'Name' | translate}}</th>
              <th>{{'DateOfVisit' | translate}}</th>
              <th>{{'mobile' | translate}}</th>
              <th>{{'Decease' | translate}}</th>
              <th>{{'Edit' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{(form.pageNo * 5) + i + 1}}</td>
              <td>{{ m.name }}</td>
              <td>{{ m.dateOfVisit| date:'dd-MM-yyyy' }}</td>
              <td>{{ m.mobile }}</td>
              <td>{{ m.decease }}</td>
              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/patient/' + m.id)"></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{'Previous' | translate
            }}</button>
          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/deceaselist']" (click)="exit()">{{'Back' | translate}}</a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>