<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url(assets/files/62.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }
</style>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{'Job List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center">
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.title"
            placeholder="{{ 'Search Title' | translate }}" pattern="[A-Za-z\s]*"
            (input)="validateInput($event, 'title')">
          <div *ngIf="!isValidTitleInput" class="text-danger">
            Please enter letters and spaces only.
          </div>
        </div>
        <div class="col-sm-2">
          <input type="date" class="form-control" [(ngModel)]="form.searchParams.dateofOpening"
            placeholder="{{'Search Date Of opening' | translate}}">
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control" [(ngModel)]="form.searchParams.experience"
            placeholder="{{'Search Experience' | translate}}">
        </div>
        <div class="col-sm-2">
          <select class="form-control" name="status" [(ngModel)]="form.searchParams.status" aria-label="ngSelected">
            <option [ngValue]="" value="undefined">{{'Select Status' | translate }}</option>
           
            <option value="Open   ">{{'Open' | translate }} </option>
            <option value="Close">{{'Close' | translate }} </option>
            <option value="Hold">{{'Hold' | translate }} </option>>
          </select>
        </div>
        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{'Search' | translate }}</button>
        </div>
        <div class="col-sm-2">
          <button (click)="forward('/job')" type="button" class="btn btn-success">{{'Add Job' |
            translate}}</button>
        </div>
        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{'Delete' | translate}}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>
      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{'S.No' | translate}}</th>
              <th>{{'TITLE' | translate}}</th>
              <th>{{'DATE OF OPENING' | translate}}</th>
              <th>{{'EXPERIENCE' | translate}}</th>
              <th>{{'STATUS' | translate}}</th>
              <th>{{'Edit' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
          <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" id="{{m.id}}" 
             value="{{isMasterSel}}"/></td>

              <td>{{(form.pageNo * 5) + i + 1}}</td>

              <td>{{ m.title }}</td>
              <td>{{ m.dateofOpening | date : 'dd-MM-yyyy' }}</td>
              <td>{{ m.experience }}</td>
              <td>{{ m.status }}</td>
              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/job/' + m.id)"></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{'Previous' | translate
            }}</button>
          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/joblist']" (click)="exit()">{{'Back' | translate}}</a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer> 