<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
  }
</style>

<div class="content-wrapper"
     style="background: url(assets/files/wall.jpg) no-repeat center center;
            background-attachment: fixed;
            background-size: cover;
            width: auto;
            height: 105vh;">

  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading" style="height: 50px;">
        <div class="text-center">
          <h1 class="text-primary font-weight-bold">{{ 'Prescription List' | translate }}</h1>
        </div>
      </div>

      <div class="row search-inputs p-1 justify-content-center">
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.name"
                 placeholder="{{ 'Search Name' | translate }}" pattern="[A-Za-z\s]*"
                 (input)="validateInput($event, 'name')">
          <div *ngIf="!isValidNameInput" class="text-danger">
            Please enter letters and spaces only.
          </div>
        </div>
        <div class="col-sm-2">
          <input type="date" class="form-control" [(ngModel)]="form.searchParams.date"
                 placeholder="{{ 'Search date' | translate }}">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.capacity"
                 placeholder="{{ 'Search Capacity' | translate }}" pattern="[A-Za-z\s]*"
                 (input)="validateInput($event, 'capacity')">
          <div *ngIf="!isValidCapacityInput" class="text-danger">
            Please enter letters and spaces only.
          </div>
        </div>
        <div class="col-sm-2">
          <select class="form-control" name="id" [(ngModel)]="form.searchParams.id" aria-label="ngSelected">
            <option [ngValue]="" value="undefined">{{ 'Select decease' | translate }}</option>
            <option *ngFor="let obj of form.preload.Plist" [value]="obj.key">{{ obj.value }}</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{ 'Search' | translate }}</button>
        </div>
        <div class="col-lg-2 ml-4">
          <button (click)="forward('/prescription')" type="button" class="btn btn-success">{{ 'Add prescription' |
                                                                                             translate }}</button>
        </div>
        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{ 'Delete' | translate }}</button>
        </div>
      </div>

      <div class="p-1">
        <div class="table-responsive">
          <table class="table table-bordered table-hover font-weight-bold text-dark">
            <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th>
                <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1"
                       (change)="checkUncheckAll($event)" />
              </th>
              <th>{{ 'S.No' | translate }}</th>
              <th>{{ 'Name' | translate }}</th>
              <th>{{ 'Decease' | translate }}</th>
              <th>{{ 'Capacity' | translate }}</th>
              <th>{{ 'Date' | translate }}</th>
              <th>{{ 'Edit' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td>
                <input type="checkbox" #checkboxes (change)="checklistUpdate()" [disabled]="m.roleName=='Admin'"
                       name="list_name" id="{{ m.id }}" value="{{ isMasterSel }}" />
              </td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.name }}</td>
              <td>{{ m.decease }}</td>
              <td>{{ m.capacity }}</td>
              <td>{{ m.date | date : 'dd-MM-yyyy' }}</td>
              <td>
                <button class="fa fa-edit text-primary" id="nnn" [disabled]="m.roleName=='Admin'"
                        (click)="forward('/prescription/' + m.id)" style="cursor: pointer;"></button>
              </td>
            </tr>
            </tbody>
          </table>

          <table style="width: 100%;">
            <tr>
              <td style="width: 50%;">
                <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' |
                                                                                                   translate }}</button>
              </td>
              <td *ngIf="form.list.length != 0" style="width: 50%;"></td>
              <td *ngIf="form.list.length == 0" style="width: 50%;">
                <a class="btn btn-warning mr-1" [routerLink]="['/prescriptionlist']" (click)="exit()">{{ 'Back' |
                                                                                                           translate }}</a>
              </td>
              <td>
                <button (click)="next()" [disabled]="nextList == 0" type="button" class="btn btn-info">{{ 'Next' |
                                                                                                          translate }}</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
